h1 {
    text-align: center;
    background-color: brown;
}
body {
   background-color: antiquewhite;
}
.lemon, .Tacos, .Hamburger{
    font-size: 24px;
    font-weight: bold;
}
img {
    height: auto;
    width: 250px;
}
.img1, .img2, .img3 {
    height: auto;
    width: 200;
}