h1 {
    text-align: center;
    background-color: brown;
}
body {
   background-color: antiquewhite;
}
.lemon, .Tacos, .Hamburger{
    font-size: 24px;
    font-weight: bold;
}
img {
    height: 200px;
    width: auto;
}
.img1, .img2, .img3 {
    height: 250px;
    width: auto;
}