h1 {
    text-align: center;
    background-color: brown;
}
body {
   background-color: antiquewhite;
}
.lemon, .Tacos, .Hamburger{
    font-size: 24px;
    font-weight: bold;
}
.one {
    height: 200px;
    width: auto;
}
.two {
    height: 200px;
    width: auto;
}
.three {
    height: 200px;
    width: auto;
}